<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/styles/styles.css">
</head>

<body>
<!-- nav bar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">MIRICONF</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="#">TEAMS</a>
          </li>
        <li class="nav-item">
          <a class="nav-link" href="#">WORKSTATION TEMPLATES</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">ADMIN</a>
          </li>
      </ul>
    </div>
  </nav>
<!-- login section -->
  <section>
    <div class="container-fluid h-custom">
    <div class="main">
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
          <!-- Three red dots -->
          <form>
            <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
              <p class="lead fw-normal mb-0 me-3" style="color:aliceblue">Sign in</p>
              <button type="button" class="btn btn-danger btn-floating mx-1">
                <i class="fab fa-facebook-f"></i>
              </button>
  
              <button type="button" class="btn btn-danger btn-floating mx-1">
                <i class="fab fa-twitter"></i>
              </button>
  
              <button type="button" class="btn btn-danger btn-floating mx-1">
                <i class="fab fa-linkedin-in"></i>
              </button>
            </div>
    
            <div class="divider d-flex align-items-center my-4">
              <p class="text-center fw-bold mx-3 mb-0" style="color:aliceblue"> </p>
            </div>
  
            <!-- Username input -->
            <div class="form-outline mb-4">
              <input type="email" id="form3Example3" class="form-control form-control-lg"
                placeholder="Enter Username" />
              <label class="form-label" for="form3Example3" style="color:aliceblue">Username</label>
            </div>
  
            <!-- Password input -->
            <div class="form-outline mb-3">
              <input type="password" id="form3Example4" class="form-control form-control-lg"
                placeholder="Enter password" />
              <label class="form-label" for="form3Example4" style="color:aliceblue">Password</label>
            </div>
  
            <div class="d-flex justify-content-between align-items-center">
              <!-- Checkbox -->
            </div>
              <button type="button" class="btn btn-danger btn-lg"
                style="padding-left: 2.5rem; padding-right: 2.5rem;">Login</button>
          </form>
        </div>
      </div>
    </div>
  </section>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
<script src="../static/scripts/index.js"></script>
</body>
</html>